@font-face {
  font-family: 'FUD Grotesk';
  src:
    local('FUD Grotesk'),
    url(./Fud-Grotesk-Bold-App.ttf) format('opentype'),
    url(./Fud-Grotesk-Bold-Desktop.otf) format('opentype'),
    url(./Fud-Grotesk-Bold-Web.ttf) format('opentype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Source Sans Pro';
  src: local('Source Sans Pro'),
    url(./SourceSansPro-Regular.ttf) format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Source Sans Pro';
  src: local('Source Sans Pro'),
    url(./SourceSansPro-SemiBold.ttf) format('opentype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Source Sans Pro';
  src: local('Source Sans Pro'),
    url(./SourceSansPro-Bold.ttf) format('opentype');
  font-weight: 700;
  font-style: normal;
}